fastapi
uvicorn
python-dotenv
pydantic
pymupdf
torch
transformers
accelerate
pillow
beautifulsoup4
google-generativeai
youtube-transcript-api
requests
chromadb
google-genai
tenacity
pyjwt[crypto]
python-jose[cryptography]
cryptography
httpx
